@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.swiper-pagination-bullet {
  width: 50px;
  min-width: 25px;
  min-height: 25px;
  background-color: #fff;
  border-radius: 50%;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #999;
}
